@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto+Condensed:wght@300;400&display=swap');

.body{
    background-color: rgb(22, 21, 21) !important;
}

.image{
    border-radius: 3px;
    border: solid 5px rgb(148, 130, 71);
}

.full-height{
    height: 100vh;

}

.bg-color{
    color:rgb(240, 64, 64);
}
.iconimage{
    margin-left: 600px;
    margin-top: 5px;
}
.text-ux{
    padding-top: 50px;
}
.button{
    padding: 12px 20px;
    font-weight: 500;
    text-decoration: none;
    border-radius: 5px;
}
.btn-brand{
    background-color: rgb(240, 64, 64);
    border-color: coral;
    color: rgb(243, 247, 245);
}
.animation{
    animation-name: fadeInOut, moveLeft300px, bounce;
    animation-duration: 2.5s, 5s, 1s;
    animation-iteration-count: 2, 1, 5;
}
.image2{
    
        border-radius: 3px;
        border: solid 5px rgb(148, 130, 71);
    
}